body {
    background-color: #DCDCDC;
    color: black;
    font: serif 12px;
    padding-top: 90px;
}

table, tr, th{
     border-collapse: collapse;
     border: 1px solid white;
     color: black;
     font:serif 12px;
     text-align: left; 
}

div{
    color: black;
    font: serif 12px;
}


.card{
    background-color: #DCDCDC;
    border: 1px #DCDCDC;
    border-style: inset; 
    padding-left: 30px;
}

#row{
    padding-top: 50px;
    padding-bottom: 50px;
}

