body {
    background-color: #43464b;
    color:white;
    font: serif 12px;
}

table, tr, th{
     border-collapse: collapse;
     border: 1px round white ;
     color:white;
     font:serif 12px;
     text-align: left; 
}

div{
    color: white;
    font: serif 12px;
}


.card{
    background-color:#43464b;
    border: 1px white;
    border-style: inset; 
    padding-left: 30px;
}

#row{
    padding-top: 50px;
    padding-bottom: 50px;
}

